{% extends "attribute_main.html.twig" %}

{% block admin_attribute_main_form %}
    {{ parent() }}
    <tr>
        <td class="edittext" width="120">
            {{ translate({ ident: "DETAILS_Attributes_TYPE" }) }}
        </td>
        <td class="edittext">
            <select name="editval[oxattribute__oxtype]" class="editinput" {{ readonly }}>
                <option value="TEXT" {% if edit.oxattribute__oxtype.value == "TEXT" %} selected {% endif %}>{{ translate({ ident: "ATTR_TYPE_TEXT" }) }}</option>
                <option value="SELECT" {% if edit.oxattribute__oxtype.value == "SELECT" %} selected {% endif %}>{{ translate({ ident: "ATTR_TYPE_SELECT" }) }}</option>
                <option value="MULTISELECT" {% if edit.oxattribute__oxtype.value == "MULTISELECT" %} selected {% endif %}>{{ translate({ ident: "ATTR_TYPE_MULTISELECT" }) }}</option>
                <option value="BOOL" {% if edit.oxattribute__oxtype.value == "BOOL" %} selected {% endif %}>{{ translate({ ident: "ATTR_TYPE_BOOL" }) }}</option>
                <option value="DATE" {% if edit.oxattribute__oxtype.value == "DATE" %} selected {% endif %}>{{ translate({ ident: "ATTR_TYPE_DATE" }) }}</option>
                <option value="DATETIME" {% if edit.oxattribute__oxtype.value == "DATETIME" %} selected {% endif %}>{{ translate({ ident: "ATTR_TYPE_DATETIME" }) }}</option>
                <option value="PRICE" {% if edit.oxattribute__oxtype.value == "PRICE" %} selected {% endif %}>{{ translate({ ident: "ATTR_TYPE_PRICE" }) }}</option>
                <option value="COLOR" {% if edit.oxattribute__oxtype.value == "COLOR" %} selected {% endif %}>{{ translate({ ident: "ATTR_TYPE_COLOR" }) }}</option>
                <option value="IMAGE" {% if edit.oxattribute__oxtype.value == "IMAGE" %} selected {% endif %}>{{ translate({ ident: "ATTR_TYPE_IMAGE" }) }}</option>
                <option value="TEXT_SWATCH" {% if edit.oxattribute__oxtype.value == "TEXT_SWATCH" %} selected {% endif %}>{{ translate({ ident: "ATTR_TYPE_TEXT_SWATCH" }) }}</option>
                <option value="VISUAL_SWATCH" {% if edit.oxattribute__oxtype.value == "VISUAL_SWATCH" %} selected {% endif %}>{{ translate({ ident: "ATTR_TYPE_VISUAL_SWATCH" }) }}</option>
            </select>
        </td>
    </tr>
{% endblock %}
